
body{

    font-family:'Montserrat',sans-serif
}

.pas_menu{
    width:260px;
 margin:5px;
 padding: 5px;
    cursor:pointer;
}
.pas_title{
    width:20%;
    margin-left: 10%;
    box-sizing:border-box;
    background:rgb(94, 200, 233);
    padding:5px;
    border-radius:4px;
    position:absolute;
    box-shadow:0 0 40px -10px #000;
    color:#505050
}
span{
    float:right;
    font-size:18px!important
}
.pas_dropdown{width:100%;
    background:#fff;
    border-radius:4px;
    box-shadow:0 0 40px -10px #000;
    color:#505050;
    margin-left:135px;
    margin-top: 45px;
    max-height:0;
    overflow:hidden;
    transition:all .5s}
.down{
    max-height:150px
}
.arrow{
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
    position:relative;
    right:20px;
    bottom:-24px;
    display:none
}
.arrow.gone{
    display:block
}
.pas_p{
    padding:5px 5px;
    margin:0;
    transition:all .1s
}
.pas_p:hover{
    background:coral;
    -webkit-transform:scale(1.05);
    color:rgba(255,255,255,0.8);
    box-shadow:0 0 30px -10px #000
}