body + p {
 padding-top: 50px;
 font-weight: 400;
 font-style: normal;
 font-size: 1rem;
 line-height: 1.75;
}

#jumbotron {
 padding: 2em;
}

#jumbotron > h1 {
 color: #222222;
 margin: 1em auto 0.25em auto;
 font-weight: 700;
}

.item > i.bordered.inverted.teal.stripe.s {
 width: 24px;
 margin-right: 5px;
}

div.ui.icon.logo.item {
 font-weight: bold;
}

#subscribe.ui.vertical.segment {
 background-color: #f2f3f5;
 padding: 6em;
}
#subscribe .ui.form .button {
 margin-top: 1em;
}
.sidebar .stitle {
 font-size: 16px;
 line-height: 60px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 7px;
 color: #eee;
 background: teal;
}
input.prompt {
 width: 16em;
}
.row > .column {
 text-align: justify;
}
.ui.star.rating {
 margin-top: 10px;
}